<div>
  <form (ngSubmit)="submit()" [formGroup]="searchForm">
    <div class="flex-container">
      <div>
        <input type="text" formControlName="search_input" placeholder="Введите текст для поиска">
        <div *ngIf="submitted && f.search_input.errors" class="error">Ничего не введено</div>
      </div>
      <div>
        <select formControlName="search_select">
          <option value="" disabled>Укажите поисковую систему</option>
          <option [value]="browser.searchLink" *ngFor="let browser of browsers">{{browser.name}}</option>
        </select>
        <div *ngIf="submitted && f.search_select.errors" class="error">Выберите поисковую систему</div>
      </div>
      <div>
        <button type="submit">Искать</button>
      </div>
    </div>
  </form>
</div>
